<main class="ms-welcome__main">
  <header class="fx-banner-container ms-bgColor-neutralLighter">
    <img class="fx-banner" src="/assets/img.png" alt="Contoso" title="Contoso" />
    <!-- <h1 class="ms-font-su">Welcome</h1>-->
  </header>
  <clr-tabs>
    <clr-tab>
      <button class="tab-btn" clrTabLink>Welcome</button>
      <clr-tab-content *clrIfActive="true">
        <div class="fx-landing-container">
          <div class="fx-landing">
            <p style="max-width: 300px; padding-bottom: 50px">
              Welcome to FIX Marketplace Programme Editor. Please start by loading updated field values from the server,
              or by adding annotations into your document for other parties to fill.
            </p>
            <hr />
            <button class="btn btn-success" (click)="loadContentInControl()">Load fields value from server</button>
            <hr />
            <button class="btn btn-warning" (click)="clearContentInControl()">Clear all fields in selection</button>
            <hr />
            <button class="btn btn-sm btn-outline" (click)="insertSampleData()">Load sample data</button>
          </div>
        </div>

        <!-- <p class="ms-font-l">Modify the source files, then click <b>Run</b>.</p> -->
        <!-- <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="run()">
                <span class="ms-Button-label">Run</span>
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
            </div> -->
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button class="tab-btn" clrTabLink>Annotations</button>
      <clr-tab-content *clrIfActive>
        <div class="tab-container">
          <div class="tab-card">
            <!-- <clr-dropdown>
              <button class="btn btn-sm btn-primary" clrDropdownTrigger>Select Preset</button>
              <clr-dropdown-menu clrPosition="btm">
                <div aria-label="Dropdown header Action 1" clrDropdownItem>Arranger Name</div>
                <div aria-label="Dropdown header Action 2" clrDropdownItem>Coupon Type</div>
                <div aria-label="Dropdown header Action 3" clrDropdownItem>Issuer Name</div>
                <div aria-label="Dropdown header Action 4" clrDropdownItem>Issuer Region</div>
              </clr-dropdown-menu>
            </clr-dropdown> -->
            <clr-select-container>
              <label for="presetSelected">Load a Preset</label>
              <select clrSelect name="presetSelected" [(ngModel)]="presetSelected" (change)="setPresetValues()">
                <!-- <option *ngFor="let preset of presets" [value]="preset.visibleName"></option> -->
                <option value="Arranger Name" label="Arranger Name"></option>
                <option value="Coupon Type" label="Coupon Type"></option>
                <option value="Deposit Date" label="Deposit Date"></option>
                <option value="Issuer Name" label="Issuer Name"></option>
                <option value="Issuer Rating" label="Issuer Rating"></option>
                <option value="Issuer Region" label="Issuer Region"></option>
                <option value="Issuer Rating Org" label="Issuer Rating Org"></option>
                <option value="Principal Amount" label="Principal Amount"></option>
                <option value="Principal Amount Currency" label="Principal Amount Currency"></option>
                <option value="Program Amount" label="Program Amount"></option>
                <option value="Program Currency" label="Program Currency"></option>
                <option value="Product Type" label="Product Type"></option>
                <option value="Product Type Short" label="Product Type Short"></option>
                <option value="Pricing Date" label="Pricing Date"></option>
                <option value="Tenor" label="Tenor"></option>
              </select>
            </clr-select-container>
            <br /><br />
            <!-- <clr-datalist-container>
              <input
                clrDatalistInput
                [(ngModel)]="presetSelected"
                placeholder="No label"
                name="presetSelected"
                (change)="setPresetValues()"
              />
              <datalist>
                <option *ngFor="let preset of presets" [value]="preset.visibleName"></option>
              </datalist>
            </clr-datalist-container> -->
            <clr-input-container>
              <label for="visibleName">Field Visible Name:</label>
              <input
                clrInput
                placeholder="Issuer Name"
                [(ngModel)]="visibleName"
                name="visibleName"
                style="min-width: 250px"
              />
            </clr-input-container>
            <br />
            <clr-input-container>
              <label for="uniqueName">Field Short Unique ID:</label>
              <input
                clrInput
                placeholder="issuerName"
                [(ngModel)]="uniqueName"
                name="uniqueName"
                style="min-width: 250px"
              />
              <clr-control-helper>Value to be Unique in document</clr-control-helper>
            </clr-input-container>
            <br />
            <clr-input-container>
              <label for="phText">Placeholder Text:</label>
              <input clrInput placeholder="e.g. DBS Bank" [(ngModel)]="phText" name="phText" style="min-width: 300px" />
            </clr-input-container>

            <br /><br /><br />
            <button class="btn btn-primary" (click)="createContentControl()">Annotate field</button>
            <br />
            <button class="btn btn-sm btn-warning" (click)="clearAnnotationFields()">Clear Form</button>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button class="tab-btn" clrTabLink>Value Extraction</button>
      <clr-tab-content *clrIfActive>
        <div class="tab-container">
          <!-- <clr-input-container> -->

          <button class="btn btn-sm btn-primary" (click)="showContentInControl()">Show extracted data</button>
          <br />
          <div id="extractedFields"></div>
          <!-- <hr /> -->
          <button class="btn btn-sm btn-primary" (click)="exportContentInControl()">Export filled data as json</button>
          <br />
          <pre
            style="font-family: inherit; border: 0; max-width: 325px; overflow-wrap: break-word; white-space: pre-wrap"
            id="exportedFields"
          ></pre>

          <!--
            <label>Contract Number</label>
            <input clrInput placeholder="XXXX-XXXX-XXXXX" name="contractNumber" [(ngModel)]="contractNumber" />
          </clr-input-container>

          <clr-input-container>
            <label>Issue Date</label>
            <input clrInput placeholder="dd/MM/yyyy" name="issueDate" [(ngModel)]="issueDate" />
          </clr-input-container> -->
        </div>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</main>
