<main class="ms-welcome__main">
  <header class="fx-banner-container ms-bgColor-neutralLighter">
    <img class="fx-banner" src="/assets/img.png" alt="Contoso" title="Contoso" />
    <!-- <h1 class="ms-font-su">Welcome</h1>-->
  </header>
  <clr-tabs>
    <clr-tab>
      <button class="tab-btn" clrTabLink>Welcome</button>
      <clr-tab-content *clrIfActive="true">
        <div class="fx-landing-container">
          <div class="fx-landing">
            <p style="max-width: 300px; padding-bottom: 50px">
              Welcome to FIX Marketplace Programme Editor. Please start by loading updated field values from the server,
              or by adding annotations into your document for other parties to fill.
            </p>
            <hr />
            <button class="btn btn-success" (click)="loadContentInControl()">Load fields value from server</button>
            <hr />
            <button class="btn btn-warning" (click)="clearContentInControl()">Clear all fields in selection</button>
            <hr />
            <button class="btn btn-sm btn-outline" (click)="insertSampleData()">Load sample data</button>
          </div>
        </div>

        <!-- <p class="ms-font-l">Modify the source files, then click <b>Run</b>.</p> -->
        <!-- <div role="button" class="ms-welcome__action ms-Button ms-Button--hero ms-u-slideUpIn20" (click)="run()">
                <span class="ms-Button-label">Run</span>
                <span class="ms-Button-icon"><i class="ms-Icon ms-Icon--ChevronRight"></i></span>
            </div> -->
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button class="tab-btn" clrTabLink>Annotations</button>
      <clr-tab-content *clrIfActive>
        <div class="tab-container">
          <div class="tab-card">
            <!-- <clr-dropdown>
              <button class="btn btn-sm btn-primary" clrDropdownTrigger>Select Preset</button>
              <clr-dropdown-menu clrPosition="btm">
                <div aria-label="Dropdown header Action 1" clrDropdownItem>Arranger Name</div>
                <div aria-label="Dropdown header Action 2" clrDropdownItem>Coupon Type</div>
                <div aria-label="Dropdown header Action 3" clrDropdownItem>Issuer Name</div>
                <div aria-label="Dropdown header Action 4" clrDropdownItem>Issuer Region</div>
              </clr-dropdown-menu>
            </clr-dropdown> -->
            <select clrSelect name="presetSelected" [(ngModel)]="presetSelected" (change)="setPresetValues()">
              <option value="arrangerName">Arranger Name</option>
              <option value="couponName">Coupon Type</option>
              <option value="issuerName">Issuer Name</option>
              <option value="issuerRegion">Issuer Region</option>
            </select>
            <clr-input-container>
              <label for="visibleName">Field Visible Name:</label>
              <input clrInput placeholder="Issuer Name" [(ngModel)]="visibleName" name="visibleName" />
            </clr-input-container>
            <br />
            <clr-input-container>
              <label for="uniqueName">Field Short Unique ID:</label>
              <input clrInput placeholder="issuerName" [(ngModel)]="uniqueName" name="uniqueName" />
              <clr-control-helper>Value to be Unique in document</clr-control-helper>
            </clr-input-container>
            <br />
            <clr-input-container>
              <label for="phText">Placeholder Text:</label>
              <input clrInput placeholder="e.g. DBS Bank" [(ngModel)]="phText" name="phText" />
            </clr-input-container>

            <br /><br />
            <button class="btn btn-primary" (click)="createContentControl()">Annotate field</button>
            <br />
            <button class="btn btn-sm btn-warning" (click)="clearAnnotationFields()">Clear Form</button>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button class="tab-btn" clrTabLink>Value Extraction</button>
      <clr-tab-content *clrIfActive>
        <div class="tab-container">
          <!-- <clr-input-container> -->

          <button class="btn btn-sm btn-primary" (click)="showContentInControl()">Show extracted data</button>
          <br />
          <div id="extractedFields"></div>
          <!-- <hr /> -->
          <button class="btn btn-sm btn-primary" (click)="exportContentInControl()">Export filled data as json</button>
          <br />
          <pre style="font-family: inherit; border: 0" id="exportedFields"></pre>

          <!--
            <label>Contract Number</label>
            <input clrInput placeholder="XXXX-XXXX-XXXXX" name="contractNumber" [(ngModel)]="contractNumber" />
          </clr-input-container>

          <clr-input-container>
            <label>Issue Date</label>
            <input clrInput placeholder="dd/MM/yyyy" name="issueDate" [(ngModel)]="issueDate" />
          </clr-input-container> -->
        </div>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</main>
