.fx-banner-container {
  height: auto;
  width: 100vw;
  background-color: white;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-x: scroll;
  padding: 25px 0;
}
.fx-banner {
  height: auto;
  width: 75%;
}
.fx-landing-container {
  height: 100%;
  width: 100%;
}
.fx-landing {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.tab-container {
  padding: 25px 0;
  height: 100%;
  width: 100%;
  /* margin: 0 50px; */
}

.tab-card {
}

.tab-btn:focus {
  outline: none;
}
